<h1>Your Profile</h1>
<span><strong>Name</strong>: {{user.username}}</span>
<br />
<span><strong>Email</strong>: {{user.email}}</span>

<a href='/profile/edit'>
  <button> Edit User Info</button>

</a>

{{!-- {{user.recipes}} --}}
{{!-- {{user.comments}} --}}
{{!-- {{user.likedrecipes}} --}}
{{! Map -> user liked restaurants }}