<img src='{{recipe.picture}}' alt='{{recipe.title}}' />

<h1>{{recipe.title}}</h1>
<p>{{recipe.level}}</p>
<p>{{recipe.cookingTime}}</p>
<p>{{recipe.diet}}</p>
<p>{{recipe.cuisine}}</p>
<p>{{recipe.dishType}}</p>

<ul>
  {{#each recipe.ingredients}}
    <li>{{this}}</li>
  {{/each}}
</ul>

{{recipe.instructions}}

{{#if ownRecipe}}
  <a href='/recipe/{{recipe._id}}/edit'>
    <button>Update Recipe</button>
  </a>
  <a href='/recipe/{{recipe._id}}/delete'>
    <button>Delete Recipe Forever</button></a>
{{/if}}