<img src='{{recipe.picture}}' alt='{{recipe.title}}' />

<h1>{{recipe.title}}</h1>
<p>{{recipe.level}}</p>
<p>{{recipe.cookingTime}}</p>
<p>{{recipe.diet}}</p>
<p>{{recipe.cuisine}}</p>
<p>{{recipe.dishType}}</p>
<ul>
  {{#each recipe.ingredients}}
    <ul><li>{{ingredients}}</li></ul>
  {{/each}}
</ul>

<ol>
  <li>{{recipe.instructions}}</li>
</ol>