<div class='secondary-bar'>
  <div class='heading-secondary'>{{users.length}} Registered Users</div>
  <div class='heading-secondary'>{{recipe.length}} Recipes</div>
  <div class='heading-secondary'>{{comment.length}} Comments</div>

</div>
{{#each users}}
  {{#if picture}}
    <img src='{{picture}}' alt='{{username}}' height='50px' />
  {{/if}}
  <a href='/profile/{{_id}}'>
    <h3>{{username}}</h3>
  </a>
{{/each}}